@media all {
    body {
        background-attachment: fixed;
        background-image: var(--website-background-image);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--text-color);
        font-family: var(--font-family), serif;
        line-height: var(--line-height);
        padding-top: 2rem;
    }

    .blur-background {
        backdrop-filter: var(--backdrop-filter-default);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .main-navigation {
        background-color: transparent;
    }

    .site-header {
        background-color: var(--bg-white-transparent);
    }

    .grid-container {
        .inside-article,
        .comments-area,
        .page-header,
        .paging-navigation,
        .meta-slider {
            background-color: var(--bg-white-transparent);
        }
    }

    .one-container .container,
    .inside-page-header,
    .sidebar .widget,
    .site-info {
        background-color: var(--bg-white-transparent);
    }

    .site-footer {
        padding-bottom: 2rem;
    }
}
